body {
    font-family: cursive;
    background-color: beige;
    display: grid;
    justify-content: center;
    color: brown;
  }

  h1{
    font-size: 45px;
  }

  label{
    padding: 0.1rem;
    font-size: 20px;
  }

  input{
    padding: 5px 8px;
    margin: 4px 0;
    box-sizing: border-box;
    border-radius: 5px;
  }

  button{
    font-family: cursive;
    border-radius: 10px;
    border: 0;
    margin-top: 5px;
    background-color: brown;
    color: beige;
  }
  
  #gameBoard {
    background-color: beige;
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    gap: .5rem;
    margin-bottom: 1.5rem;
    max-width: 19rem;
  }
  
  #gameBoard span {
    background-color: black;
    display: grid;
    place-content: center;
    font-size: 5rem;
  }
  
  #gameBoard span.win {
    background-color: #68ff89;

  }
  
  .cursor-pointer {
    cursor: pointer;
  }